In [ ]:
import numpy as np
from sklearn.model_selection import  cross_validate, train_test_split
import pandas as pd
from sklearn import preprocessing, neighbors

#trabajamos con datos ya clasificados con cualquier tecnica, y una vez clasificado, posicionamos nuevos datos y aplicmaos K-vecinos.
#Aqui utilizamos un datasets de tumores

tumores = pd.read_csv('/content/tumores.csv')
del tumores['Unnamed: 0']
tumores.head()

   Class  Adhes  BNucl  Chrom  Epith  Mitos  NNucl  Thick  UShap  USize
0      1      1      1      3      2      1      1      5      1      1
1      1      5     10      3      7      1      2      5      4      4
2      1      1      2      3      2      1      1      3      1      1
3      1      1      4      3      3      1      7      6      8      8
4      1      3      1      3      2      1      1      4      1      1

In [ ]:
#comprobamos que no existan NAs

tumores.describe()

            Class       Adhes       BNucl  ...       Thick       UShap       USize
count  681.000000  681.000000  681.000000  ...  681.000000  681.000000  681.000000
mean     0.650514    2.816446    3.541850  ...    4.436123    3.204112    3.139501
std      0.477158    2.854320    3.646323  ...    2.821522    2.981469    3.058197
min      0.000000    1.000000    1.000000  ...    1.000000    1.000000    1.000000
25%      0.000000    1.000000    1.000000  ...    2.000000    1.000000    1.000000
50%      1.000000    1.000000    1.000000  ...    4.000000    1.000000    1.000000
75%      1.000000    4.000000    6.000000  ...    6.000000    5.000000    5.000000
max      1.000000   10.000000   10.000000  ...   10.000000   10.000000   10.000000

[8 rows x 10 columns]

In [ ]:
#Creamos la X e Y
Y = tumores["Class"]
X = tumores[['Adhes','BNucl','Chrom',	'Epith'	,'Mitos'	,'NNucl'	,'Thick'	,'UShap'	,'USize']]
X.head()

   Adhes  BNucl  Chrom  Epith  Mitos  NNucl  Thick  UShap  USize
0      1      1      3      2      1      1      5      1      1
1      5     10      3      7      1      2      5      4      4
2      1      2      3      2      1      1      3      1      1
3      1      4      3      3      1      7      6      8      8
4      3      1      3      2      1      1      4      1      1

In [ ]:
Y.head

<bound method NDFrame.head of 0      1
1      1
2      1
3      1
4      1
      ..
676    1
677    1
678    0
679    0
680    0
Name: Class, Length: 681, dtype: int64>

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X.values, Y.values, test_size=0.3)

In [ ]:
clf = neighbors.KNeighborsClassifier()

In [ ]:
#agregamos ".values" para evitar errores de nombres o etiquetas
clf.fit(X_train, Y_train)

KNeighborsClassifier()

In [ ]:
accuracy = clf.score(X_test, Y_test)
accuracy

0.9804878048780488

In [ ]:
#utilizamos los datos clasificados para clasificar nuevos datos, supongamos que llega un paciente y se hace las pruebas
# y obtiene medidas como 2,4,6,2,1,5,6,3,2

paciente_nuevo = np.array([2,4,6,2,1,5,6,3,2])
paciente_nuevo = paciente_nuevo.reshape(1,-1)

In [ ]:
predict = clf.predict(paciente_nuevo)
predict
#obtenemos que el paciente tendria un tumor "maligno (0)"

array([0])

In [ ]:
#si tuvieramos dos pacientes
dos_pacientes = np.array([[4,2,1,1,1,2,3,2,1], [2,2,4,4,2,2,6,2,4]]).reshape(2,-1)
predict = clf.predict(dos_pacientes)
predict
#en este caso ambos pacientes tendrian tumores "benignos[1,1]"

array([1, 1])